.links-container{
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    top: 400px;
    padding: 0px;
    
}

.links-container::-webkit-scrollbar{
    display: none;
}

.links-cards{
    width: 3000px;
    max-height: 300px;
    margin-bottom: 10px;
    transition: transform 450ms;
}

.links-cards:hover{
    transform: scale(1.1);
}