.nav-container{
    position: fixed;
    top: -50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 10px;
}


.nav-title{
    position: relative;
    color: aliceblue;
    top: 0px;
    left: 1020px;
    height: 10px;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

.nav-slogan{
    position: relative;
    color: aliceblue;
    right: 110px;
    top: 70px;
    font-size: 40px;
}